.resume__container{
    width: 100%!important;
}

#root {
    width: 100%;
}

.resume__container h5 {
    margin-top: 7rem;
    font-size: 2rem;
    margin-bottom: -1.5rem;
}

.education__wrapper {
    text-align: left;
}

.education {
    margin-top: 1rem;
    padding: 1.5rem 5rem;
    background-color: var(--color-gray-500);
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    flex-wrap: wrap;
    width: 90%;
}

.resume__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.education h4{
    font-size: 1.5rem;
    color: var(--color-gray-100);
    margin-bottom: 0;
}

.education h5{
    font-size: 1.2rem;
    font-weight: 550;
    margin-top: .5rem;
    display: inline-flex;
    align-items: center;
}

.education span {
    width: 3rem;
    height: 3rem;
    background: var(--color-gray-600);
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    transition: var(--transition);
}

.education svg {
    color: var(--color-gray-100);
}

.education h6 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-gray-100);
    margin-inline: 1rem;
    margin-bottom: .3rem;
    font-style: italic;
} 

.education__individual{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

@media screen and (max-width: 1028px) {
    .education{
        width: 90%;
    }

    .education__individual{
        display: block;
    }

}

@media screen and (max-width: 600px) {
    .resume__container {
        margin-top: 27% !important;
        padding: 0 1rem; 
    }

    .resume__container h5 {
        font-size: 1.7rem;
    }

    .education {
        padding: 1.5rem 1rem; 
        justify-content: center;
        width: var(--container-width-md); 
        margin-bottom: 1.5rem;
        margin-top: -1rem;
    }

    .education span {
        width: 2.1rem;
        height: 2.1rem;
        justify-content: center;
        align-content: center;
    }

    

    .resume__header svg {
        height: 1rem!important;
        width: 1rem!important;
    }

    .social__account {
        margin-bottom: 2rem;
    }

    .education__individual {
        flex-direction: column; 
        align-items: flex-start; 

    }

    .education__individual span {
        width: auto; /* Allow icons to adjust naturally */
        height: auto;
    }

    .education h5 {
        font-weight: 500;
        font-size: .9rem;
        margin-bottom: 0.1rem;
        line-height: 1.4rem;
        align-items: baseline;
    }

    .education h6 {
        font-size: .8rem;
    }

    .education__wrapper {
        display: grid;
        justify-content: center;
    }

    .resume__header {
        flex-direction: row;
        align-items: center;
        align-self: center;
        gap: 0.5rem;
    }


    .resume__header h4 {
        font-size: 1rem;
    }

    .resume__header svg {
        height: 1.2rem;
        width: 1.2rem;
    }
}
