

.resume__container h5 {
    margin-top: 7rem;
    font-size: 2rem;
    margin-bottom: -1.5rem;
}

.education {
    margin-top: 1rem;
    padding: 1.5rem 9rem;
    background-color: var(--color-gray-500);
    display: flex;
    border-radius: 2rem;
    flex-wrap: wrap;
}

.resume__header {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.education h4{
    font-size: 2rem;
    color: var(--color-gray-100);
    margin-bottom: 0;
}

.education h5{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: .5rem;
    display: inline-flex;
    align-items: center;
}

.education span {
    width: 3rem;
    height: 3rem;
    background: var(--color-gray-600);
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    transition: var(--transition);
}

.education svg {
    color: var(--color-gray-100);
}

.education h6 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-gray-100);
    margin-inline: 1rem;
    margin-bottom: .3rem;
} 

@media screen and (max-width: 600px) {
    .resume__container{
        margin-top: 19rem;
    }

    .resume__container h5{
        font-size: 1.7rem;
    }

    .education__wrapper h5{
        font-weight: 400;
        color: var(--color-gray-200);
    }

    .education{
        padding: 2rem 0rem;
        justify-content: center;
        width: 90%;
        margin-bottom: 5rem;
    }
    

    .education__wrapper{
        display: grid;
        justify-content: center;
        margin-inline: 1rem;
    }

    .education__wrapper h5{
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: .5rem;
        line-height: 1.4rem;
        gap: 0.3rem;
        align-items: baseline;
    }

    .resume__header h4{
        font-size: 1.5rem;
    }

    .resume__header svg {
        height: 1.4rem;
        width: auto;
    }
}
