nav {
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
}

.nav__links {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0;
    width: 25%;
    padding: 1rem;
    background-color: white;
    justify-items: center;
    border-radius: 2rem;
    font-weight: 500;
    box-shadow: 0 2px 18px 0px rgb(0 0 0 / 30%);
    font-size: 1rem;
}

.nav__links a {
    color: black;
}

.nav__toggle-btn {
    display:none;
}


.nav__links a:hover {
    color: var(--color-secondary);
}


.active-nav {
    color: var(--color-secondary)!important;
}

@media screen and (max-width: 600px) {
.nav__links {
    padding: .3rem .5rem!important;
    justify-content: center;
    width: 60%;
}

}

